@font-face {
    font-family: "starborn";
    src:
      url("fonts/starborn/Starborn.ttf") 
  }
  @font-face {
    font-family: "grinched";
    src:
      url("fonts/grinched/GrinchedRegular.otf") 
  }
  @font-face {
    font-family: "adelia";
    src:
      url("fonts/adelia/ADELIA.otf") 
  }
  @font-face {
    font-family: "bestoom";
    src:
      url("fonts/bestoom/Bestoom\ Bold.ttf") 
  }
  @font-face {
    font-family: "blue_style";
    src:
      url("fonts/blue_style/Blue\ Style.ttf") 
  }
  @font-face {
    font-family: "bubblegum";
    src:
      url("fonts/bubblegum/Bubblegum.ttf") 
  }
  @font-face {
    font-family: "candy_beans";
    src:
      url("fonts/candy_beans/Candy\ Beans.otf") 
  }
  @font-face {
    font-family: "cheese_burger";
    src:
      url("fonts/cheese_burger_4/Cheese\ Burger.otf") 
  }
  @font-face {
    font-family: "cheri";
    src:
      url("fonts/cheri/CHERI___.TTF") 
  }
  @font-face {
    font-family: "chicken_pie";
    src:
      url("fonts/chicken_pie/CHICKEN\ Pie.ttf") 
  }
  @font-face {
    font-family: "emotional_baggage";
    src:
      url("fonts/emotional_baggage/EmotionalBaggage-Regular.ttf") 
  }
  @font-face {
    font-family: "ghibo_talk";
    src:
      url("fonts/ghibo_talk/Ghibo\ Talk.otf") 
  }
  @font-face {
    font-family: "grinched2";
    src:
      url("fonts/grinched_2_0/Grinched\ 2.0\ DEMO.otf") 
  }
  @font-face {
    font-family: "grobold";
    src:
      url("fonts/grobold/GROBOLD.ttf") 
  }
  @font-face {
    font-family: "hooey";
    src:
      url("fonts/hooey/HooeyDEMO-Regular.otf") 
  }
  @font-face {
    font-family: "misty_style";
    src:
      url("fonts/misty_style/Misty\ Style.ttf") 
  }
  @font-face {
    font-family: "my_coffe_break";
    src:
      url("fonts/my_coffee_break/My\ Coffee\ Break.ttf") 
  }
  @font-face {
    font-family: "pokemon";
    src:
      url("fonts/pokemon/Pokemon\ Solid.ttf") 
  }
  @font-face {
    font-family: "rhuma_sinera";
    src:
      url("fonts/rhuma_sinera/Rhuma\ Sinera\ Regular.ttf") 
  }
  @font-face {
    font-family: "super_mario";
    src:
      url("fonts/super_mario_256/SuperMario256.ttf") 
  }
  @font-face {
    font-family: "super_milk";
    src:
      url("fonts/super_milk/Super\ Milk.ttf") 
  }
  @font-face {
    font-family: "tealand";
    src:
      url("fonts/tealand/Tealand.ttf") 
  }
  @font-face {
    font-family: "toony_line";
    src:
      url("fonts/toony_line/ToonyLineFill_PERSONAL_USE_ONLY.otf") 
  }
  @font-face {
    font-family: "valoon";
    src:
      url("fonts/valoon/Valoon.ttf") 
  }
  @font-face {
    font-family: "yellow_style";
    src:
      url("fonts/yellow_style/Yellow\ Style.ttf") 
  }
 